.btn {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    text-align: center;
    align-items: center;
    border: none;
    font-size: 15px;
}

.btn:hover{
    color: #ffbb33;
}

.btn:active {
    transform: none; 
    box-shadow: none; 
}
  
.btn:focus {
    outline: none;
}

.icon_normal svg {    
    height: 25px;
    width: 25px;
}

.icon_small svg {
    height: 15px;
    width: 15px;
}

.icon_margin svg {
    margin-right: 10px;
}